$color-gray-heading: rgb(249, 245, 243);
$color-gray-heading-hover: rgb(242, 239, 238);

$color-primary-yellowish: #f9de59;
$color-primary-orangysh: #e8a628;
$color-gray-ingredients: rgb(242, 239, 238);
